.reviews-container {
  min-height: 60vh;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 90px;

}

.reviews-container .p {
  margin-bottom: 50px;
  width: 70%;
  text-align: center;
}

.title {
  font-size: 2.5rem;
}

.reviews-grid {
  display: flex;
  align-items: center;
  justify-content: start; /* Align items at the start for scrolling */
  gap: 20px;
  overflow: hidden; /* Hide overflow for smooth animation */
  position: relative; /* Position the grid for animation effect */
  width: 100vw;
}

/* Apply animation to individual review-items */
.reviews-grid .review-item {
  background-color: #222;
  border-radius: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
  width: 500px;
  height: 230px;
  flex-wrap: wrap;
  animation: scroll-item 15s linear infinite; /* Apply animation to items */
}

.reviews-grid:hover .review-item {
  animation-play-state: paused; /* Pause animation of items when hovering over the grid */
}

.review-item .img {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.review-item .img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.rating {
  font-weight: bold;
  margin-bottom: 10px;
}

.description
{
  font-size: 14px;
}

/* Keyframes for moving individual review items */
@keyframes scroll-item {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .reviews-grid {
    grid-template-columns: 1fr;
  }
}
