
.contact-container {
    display: flex; 
    min-height: 100vh; 
    color: #fff; 
    padding:100px 20px; 
    justify-content: space-between; 
    background-color: black;
    flex-wrap: wrap;
  }
  
  .info-section {
    flex: 1; 
    max-width: 500px; 
    margin-right: 20px; 
  }
  
  .info-title {
    font-size: 2rem; 
    margin-bottom: 15px; 
  }
  
  .info-image {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 15px; 
  }
  
  .info-description {
    font-size: 1.2rem; 
  }
  
  .contact-form {
    background-color: #222; 
    border-radius: 10px; 
    padding: 20px; 
    width: 60%;

  }
  
  .form-title {
    font-size: 1.8rem; 
    margin-bottom: 20px; 
  }
  
  .form-group {
    margin-bottom: 15px; 
  }
  
  label {
    display: block; 
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    min-width: 100%; 
    max-width: 100%;
    padding: 10px; 
    border: 1px solid whitesmoke;
    border-radius: 5px;
    outline: none;
    background-color: #222; 
    color: #fff; 
  }

  label{
    color: #fff;
  }
  
  .submit-button {
    color: black; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-top: 10px; 
  }

  .submit-button:hover{
    box-shadow: 0 0 10px rgba(0, 204, 255, 1), 0 0 10px rgba(0, 204, 255, 0.5);
   transform: scale(1.01);
}
  

  /* Responsive Styles */
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column; 
      align-items: center;
      justify-content: center;
    }
  
    .info-section {
      margin-right: 0; 
      margin-bottom: 20px;
    }

    .contact-form{
        width: 90%;
    }
  }
  